@import "../../App.scss";

.button {
  background-color: $main-color;
  border: 2px solid $main-color;
  padding: 15px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
}

.button:hover {
  background-color: transparent;
}
