@import "../../../App.scss";

.contact__social {
  transition: 0.1s ease;
  cursor: pointer;
}
.contact-list {
  margin: 60px 0 10px 0;
}

.contact__social:hover {
  filter: invert(77%) sepia(99%) saturate(652%) hue-rotate(354deg)
    brightness(98%) contrast(111%);
}

@media screen and (max-width: 990px) {
  .contact__social {
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    img {
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 991px) {
  .contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__social {
    display: flex;
    justify-content: center;
    margin-right: 100px;
  }
}
