@import "../../../App.scss";

.contact__info {
  width: 200px;
}

@media screen and (max-width: 990px) {
  .contact__info {
    margin: 0 auto;
  }
}

@media screen and (min-width: 991px) {
  .contact__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__list :not(:last-child) {
    margin-right: 100px;
  }
}
