@import "../../App.scss";

#portfolio {
  padding: 20px 0 40px 0;

  .portfolio__nav {
    ul {
      display: flex;
      li {
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.3s ease;
      }
      li:hover {
        background-color: $main-color;
      }
    }
    .portfolio__nav-active {
      background-color: $main-color;
    }
  }
  .portfolio__filter {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 50px;
    background-attachment: fixed;
    max-width: 200px;
    float: right;
    position: relative;
    padding: 8px 10px;

    p {
      padding-right: 10px;
    }

    .portfolio__filter-menu {
      background-color: $light-color;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      border-radius: 5px;
      z-index: 999;
      p {
        padding: 8px 0;
        margin: 2px 0;
        transition: 0.3s ease;
      }
      p:hover {
        background-color: $main-color;
      }
    }
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.mint__gallery {
  padding-left: 30px;
  background-clip: padding-box;
}

.mint__gallery > div {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  #portfolio {
    .portfolio__nav {
      ul {
        justify-content: center;
      }
    }
    .portfolio__filter {
      justify-content: center;
      max-width: 200px;
      margin: 30px auto;
      float: none;
    }
  }
}

@media screen and (max-width: 400px) {
  #portfolio {
    .portfolio__nav {
      ul {
        li {
          padding: 5px 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .portfolio__nav {
    display: flex;
    justify-content: space-between;
  }
}
