@import "../../App.scss";

#about {
  padding: 60px 0;
}

@media screen and (max-width: 990px) {
  #about {
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
  .team {
    display: flex;
    justify-content: space-between;
  }
}
