@import "../../App.scss";

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color;
  width: 100%;
  padding: 9px 0;
  transition: 0.3s ease;
  z-index: 100;

  .mobile__menu {
    display: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  .desktop__menu {
    display: block;

    ul {
      li {
        cursor: pointer;
        padding: 2rem 2.7rem;
        margin: 0 1rem;
      }
      li:last-child {
        margin-right: 0;
        padding-right: 0;
      }
      li:hover {
        color: $main-color;
      }
    }
  }
}
.extraLargeNavbar {
  padding: 29px 0;
}
