@import "../../App.scss";

.footer {
  background-color: $black-color;
  width: 100%;
  min-height: 180px;

  .footer-box {
    min-height: 180px;
    display: flex;
    align-items: center;

    p {
      color: $white-color;
      font-size: 1.1rem;
      margin-left: 30px;
    }
  }

  .back-to-top {
    float: right;
    cursor: pointer;
    img {
      margin-left: 10px;
    }
  }

  .back-to-top:hover {
    p {
      color: $main-color;
    }
  }
}

@media screen and (max-width: 580px) {
  .footer {
    .footer-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        padding-bottom: 30px;
      }
    }
    .back-to-top {
      display: flex;
      justify-content: center;
      align-items: center;
      float: none;
      flex-direction: row;

      img {
        padding-bottom: 0px;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .list {
    display: flex;
    justify-content: space-between;
  }
}
