@import "./colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 500;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  color: $black-color;
  font-size: 1.5rem;
  overflow-x: hidden;

  font-size: 1.5rem;
}
.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-s-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row-center {
  display: flex;
  align-items: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.text-center {
  text-align: center;
}
.margin-center {
  margin: 0 auto;
}
.relative {
  position: relative;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.pointer {
  cursor: pointer;
}
.shadow {
  -webkit-box-shadow: 0px 2px 6px 2px rgba(92, 112, 133, 0.1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(92, 112, 133, 0.1);
  box-shadow: 0px 2px 6px 2px rgba(92, 112, 133, 0.1);
}

.padding5 {
  padding: 0.5rem 0;
}
.padding10 {
  padding: 1rem 0;
}
.padding15 {
  padding: 1.5rem 0;
}
.padding20 {
  padding: 2rem 0;
}
.padding30 {
  padding: 3rem 0;
}
.padding40 {
  padding: 4rem 0;
}
.padding60 {
  padding: 6rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.weight500 {
  font-weight: 500;
}
.weight800 {
  font-weight: 800;
}
.font9 {
  font-size: 0.9rem;
}
.font10 {
  font-size: 1rem;
}
.font11 {
  font-size: 1.1rem;
}
.font12 {
  font-size: 1.2rem;
}
.font13 {
  font-size: 1.3rem;
}
.font14 {
  font-size: 1.4rem;
}
.font15 {
  font-size: 1.5rem;
}
.font20 {
  font-size: 2rem;
}
.font23 {
  font-size: 2.3rem;
}
.font24 {
  font-size: 2.4rem;
}
.font30 {
  font-size: 3rem;
}
.font35 {
  font-size: 3.5rem;
}
.font40 {
  font-size: 4rem;
}
.font60 {
  font-size: 6rem;
  line-height: 8rem;
}

p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
}

.active-link {
  color: $main-color;
}
